<div id="welcome-msg">
	<h1>Welcome {{vm.user.firstName}}!</h1>
</div>

<div class="active-player-container">
	<input type="button" value="See Active Players" ng-click="getActivePlayers()" />
	<ul class="players" id="active-players">
		<li ng-repeat="player in playersOnline" ng-click="viewPlayerInfo(player)">
			{{player.Name}}
		</li>
	</ul>
</div>

<div class="container">
	<input type="hidden" id="gamer-name" value="Player-1" />
	<input type="hidden" id="agnikai-ticket" value="nothing" />
	<input type="button" value="Join AgniKai" ng-click="getAgniKaiTicket()" id="agnikai-btn" />
	<input type="button" value="Challenge AI" ng-click="challengeAI()" id="challenge-ai-btn" />
	<ul id="player-move"></ul>
</div>

<div class="player-info" ng-if="selectedPlayer">
	<button ng-click="challengeSelectedPlayer()">Challenge {{selectedPlayer.Name}}</button>
</div>

<div class="challenge-info" id="challenge-notification-box" style="display: none">
	<p id="challenge-msg"></p>
	<button ng-click="acceptChallenge()" id="accept-challenge-btn"></button>
	<button ng-click="commenceAgniKai()" id="commence-agnikai-btn" style="display: none"></button>
</div>

<div>
	<canvas id="canvas" width="540" height="540" style="border: 1px gray solid; float: left" ng-click="recordAction($event)">Your browser does not support the HTML canvas</canvas>
</div>